# Ignorar arquivos de cache e temporários
*.swp
*.tmp
.cache/

# Ignorar informações de auth do google
calcurse/.config/calcurse/caldav/
micro/.config/micro/backups/
micro/.config/micro/buffers/
vdirsyncer/.config/vdirsyncer/credentials
